[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary
[submodule "bundle/vim-node.js"]
	path = bundle/vim-node.js
	url = git://github.com/mmalecki/vim-node.js
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git://github.com/leshill/vim-json
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "solarized/gnome"]
	path = solarized/gnome
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized
[submodule "solarized/dircolors"]
	path = solarized/dircolors
	url = git://github.com/seebi/dircolors-solarized
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T
