[submodule "fish/bundle/fishnet"]
	path = fish/bundle/fishnet
	url = https://github.com/pksunkara/fishnet
[submodule "fish/bundle/pisces"]
	path = fish/bundle/pisces
	url = https://github.com/laughedelic/pisces
[submodule "fish/bundle/fish-fastdir"]
	path = fish/bundle/fish-fastdir
	url = https://github.com/tuvistavie/fish-fastdir
[submodule "git"]
	path = git
	url = https://gist.github.com/988716.git
[submodule "fish/bundle/bass"]
	path = fish/bundle/bass
	url = https://github.com/edc/bass
[submodule "fish/bundle/fish-getopts"]
	path = fish/bundle/fish-getopts
	url = https://github.com/jorgebucaran/getopts.fish
[submodule "nvim/pack/bundle/start/nvim-web-devicons"]
	path = nvim/pack/bundle/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "nvim/pack/bundle/start/nvim-tree.lua"]
	path = nvim/pack/bundle/start/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua
[submodule "nvim/pack/bundle/start/plenary.nvim"]
	path = nvim/pack/bundle/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/pack/bundle/start/telescope.nvim"]
	path = nvim/pack/bundle/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim/pack/bundle/start/heirline.nvim"]
	path = nvim/pack/bundle/start/heirline.nvim
	url = https://github.com/rebelot/heirline.nvim
[submodule "nvim/pack/bundle/start/which-key.nvim"]
	path = nvim/pack/bundle/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim
[submodule "nvim/pack/bundle/start/legendary.nvim"]
	path = nvim/pack/bundle/start/legendary.nvim
	url = https://github.com/mrjones2014/legendary.nvim
[submodule "nvim/pack/bundle/start/dressing.nvim"]
	path = nvim/pack/bundle/start/dressing.nvim
	url = https://github.com/stevearc/dressing.nvim
[submodule "nvim/pack/bundle/start/gitsigns.nvim"]
	path = nvim/pack/bundle/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
