[submodule "fish/bundle/fishnet"]
	path = fish/bundle/fishnet
	url = https://github.com/pksunkara/fishnet
[submodule "fish/bundle/pisces"]
	path = fish/bundle/pisces
	url = https://github.com/laughedelic/pisces
[submodule "fish/bundle/fish-fastdir"]
	path = fish/bundle/fish-fastdir
	url = https://github.com/tuvistavie/fish-fastdir
[submodule "git"]
	path = git
	url = https://gist.github.com/988716.git
[submodule "fish/bundle/bass"]
	path = fish/bundle/bass
	url = https://github.com/edc/bass
[submodule "fish/bundle/fish-getopts"]
	path = fish/bundle/fish-getopts
	url = https://github.com/jorgebucaran/getopts.fish
[submodule "nvim/pack/bundle/start/nvim-web-devicons"]
	path = nvim/pack/bundle/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "nvim/pack/bundle/start/nvim-tree.lua"]
	path = nvim/pack/bundle/start/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua
[submodule "nvim/pack/bundle/start/plenary.nvim"]
	path = nvim/pack/bundle/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/pack/bundle/start/telescope.nvim"]
	path = nvim/pack/bundle/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim/pack/bundle/start/heirline.nvim"]
	path = nvim/pack/bundle/start/heirline.nvim
	url = https://github.com/rebelot/heirline.nvim
[submodule "nvim/pack/bundle/start/which-key.nvim"]
	path = nvim/pack/bundle/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim
[submodule "nvim/pack/bundle/start/legendary.nvim"]
	path = nvim/pack/bundle/start/legendary.nvim
	url = https://github.com/mrjones2014/legendary.nvim
[submodule "nvim/pack/bundle/start/dressing.nvim"]
	path = nvim/pack/bundle/start/dressing.nvim
	url = https://github.com/stevearc/dressing.nvim
[submodule "nvim/pack/bundle/start/gitsigns.nvim"]
	path = nvim/pack/bundle/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "nvim/pack/bundle/start/mini.nvim"]
	path = nvim/pack/bundle/start/mini.nvim
	url = https://github.com/echasnovski/mini.nvim
[submodule "nvim/pack/bundle/start/relative-toggle.nvim"]
	path = nvim/pack/bundle/start/relative-toggle.nvim
	url = https://github.com/cpea2506/relative-toggle.nvim
[submodule "nvim/pack/themes/start/tokyonight.nvim"]
	path = nvim/pack/themes/start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
[submodule "nvim/pack/themes/start/noctis.nvim"]
	path = nvim/pack/themes/start/noctis.nvim
	url = https://github.com/talha-akram/noctis.nvim
[submodule "nvim/pack/themes/start/catppuccin.nvim"]
	path = nvim/pack/themes/start/catppuccin.nvim
	url = https://github.com/catppuccin/nvim
[submodule "nvim/pack/themes/start/kanagawa.nvim"]
	path = nvim/pack/themes/start/kanagawa.nvim
	url = https://github.com/rebelot/kanagawa.nvim
[submodule "nvim/pack/themes/start/rose-pine.nvim"]
	path = nvim/pack/themes/start/rose-pine.nvim
	url = https://github.com/rose-pine/neovim
[submodule "nvim/pack/themes/start/nightfox.nvim"]
	path = nvim/pack/themes/start/nightfox.nvim
	url = https://github.com/EdenEast/nightfox.nvim
[submodule "nvim/pack/themes/start/onedark.nvim"]
	path = nvim/pack/themes/start/onedark.nvim
	url = https://github.com/navarasu/onedark.nvim
[submodule "nvim/pack/themes/start/everforest"]
	path = nvim/pack/themes/start/everforest
	url = https://github.com/sainnhe/everforest
[submodule "nvim/pack/themes/start/oxocarbon.nvim"]
	path = nvim/pack/themes/start/oxocarbon.nvim
	url = https://github.com/nyoom-engineering/oxocarbon.nvim
[submodule "nvim/pack/themes/start/material.nvim"]
	path = nvim/pack/themes/start/material.nvim
	url = https://github.com/marko-cerovac/material.nvim
[submodule "nvim/pack/themes/start/solarized-osaka.nvim"]
	path = nvim/pack/themes/start/solarized-osaka.nvim
	url = https://github.com/craftzdog/solarized-osaka.nvim
[submodule "nvim/pack/themes/start/vim-moonfly-colors"]
	path = nvim/pack/themes/start/vim-moonfly-colors
	url = https://github.com/bluz71/vim-moonfly-colors
[submodule "nvim/pack/bundle/start/nvim-window-picker"]
	path = nvim/pack/bundle/start/nvim-window-picker
	url = https://github.com/s1n7ax/nvim-window-picker
[submodule "nvim/pack/bundle/start/telescope-undo.nvim"]
	path = nvim/pack/bundle/start/telescope-undo.nvim
	url = https://github.com/debugloop/telescope-undo.nvim
[submodule "nvim/pack/bundle/start/telescope-tabs"]
	path = nvim/pack/bundle/start/telescope-tabs
	url = https://github.com/LukasPietzschmann/telescope-tabs
[submodule "nvim/pack/bundle/start/ultimate-autopair.nvim"]
	path = nvim/pack/bundle/start/ultimate-autopair.nvim
	url = https://github.com/altermo/ultimate-autopair.nvim
[submodule "nvim/pack/bundle/start/diffview.nvim"]
	path = nvim/pack/bundle/start/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim
[submodule "nvim/pack/bundle/start/neogit"]
	path = nvim/pack/bundle/start/neogit
	url = https://github.com/NeogitOrg/neogit
[submodule "nvim/pack/bundle/start/nvim-surround"]
	path = nvim/pack/bundle/start/nvim-surround
	url = https://github.com/kylechui/nvim-surround
[submodule "fish/bundle/nvm"]
	path = fish/bundle/nvm
	url = https://github.com/jorgebucaran/nvm.fish
[submodule "nvim/pack/bundle/start/eyeliner.nvim"]
	path = nvim/pack/bundle/start/eyeliner.nvim
	url = https://github.com/jinh0/eyeliner.nvim
[submodule "alacritty/alacritty-theme"]
	path = alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
[submodule "nvim/pack/bundle/start/nvim-lspconfig"]
	path = nvim/pack/bundle/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/pack/bundle/start/typescript-tools.nvim"]
	path = nvim/pack/bundle/start/typescript-tools.nvim
	url = https://github.com/pmizio/typescript-tools.nvim
